.header {
    height: 60px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.13);
    
}

.header .logo {
    width: 148px;
} 

.header .right-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.header .more__icon {
    font-size: 26px;
    cursor: pointer;
}

.login__btn {
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px 8px 10px;
    border-radius: 6px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

.header .search__box {
    width: fit-content;
    margin: 10px auto 0 auto;
    border-radius: 20px;
    padding: 0 16px 0 6px;
    color: rgb(93, 92, 92);
    background-color: #F1F1F2;
    border: 1px solid transparent;
}

.header .search__box:hover {
    border: 1px solid rgb(166, 164, 164);

}

.header .search__box > input {
    padding: 12px 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 292px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #F1F1F2;
}

.search__box .search__icon {
    font-size: 26px;
    transform: translateY(7px);
}